<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sealed Admin</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../../css/mdb.min.css">
    <link rel="stylesheet" href="../../css/dataTables.material.min.css">
    <link rel="stylesheet" href="../../css/addons/datatables-select.min.css">
    <link rel="stylesheet" href="../../css/material-components.min.css">
  
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
    <!-- Your custom styles (optional) -->
    <style>
  
    </style>
  </head>
<body class="fixed-sn white-skin">
<% include ./partials/headeradmin %>
<!-- Main Navigation  -->

<!-- Main layout -->
<main>
 <div class="container-fluid">

  <script>
    $(document).ready(function() {
        $('#example').DataTable( {
            autoWidth: false,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell'
                }
            ]
        } );
    } );
    </script>
   <h3>VIEW ALL BANKS</h3>
   <div class="card">
    <div class="card-body">
      <table id="example" class="mdl-data-table table-striped" style="width:100%">
      <% include ./partials/messages %>
     
      <thead>
          <tr>
            
            <th class="th-sm">Bank Name</th>
            <th class="th-sm">Account Name</t>
            <th class="th-sm">Account Number</th>
             <th class="th-sm">Account Owner</th>
          </tr>
        </thead>
       <tbody>
        <%= count %>  
        <% banks.forEach(function(row){ %>
          <tr>
              <td> <%=  row.bankname %>  </td> 
              <td><%= row.accountname %></td>
            <td><%= row.accountnumber %></td>
            <td>  <a href="/admng/find/<%= row._id %>">Learn More</a></td>
            <td><a class="btn aqua-gradient btn-rounded" href="/admng/delete/<%= row._id %>"><i class="fas fa-trash"></i></a></td>
            <td> <input type="radio" id="male" name="gender" value="male"> </td>
          </tr>              
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</main>
<% include ./partials/footeradmin %>

  <!-- SCRIPTS -->
  
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../js/bootstrap.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../js/mdb.min.js"></script>
   <!-- DataTables  -->
   <script type="text/javascript" src="../../js/addons/datatables.min.js"></script>
  <script type="text/javascript" src="../../js/addons/datatables-select.min.js"></script>
  <!--Custom scripts-->
 
<script>
  // SideNav Initialization
  $(".button-collapse").sideNav();
  let container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 2,
    wheelPropagation: true,
    minScrollbarLength: 20
  });

  $('#dtMaterialDesignExample').DataTable();
  $('#dt-material-checkbox').dataTable({

    columnDefs: [{
      orderable: false,
      className: 'select-checkbox',
      targets: 0
    }],
    select: {
      style: 'os',
      selector: 'td:first-child'
    }
  });

  $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function () {
    $(this).parent().append($(this).children());
  });
  $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
    'input').each(function () {
    $('input').attr("placeholder", "Search");
    $('input').removeClass('form-control-sm');
  });
  $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
    'd-flex flex-row');
  $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').addClass(
    'md-form');
  $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
    'custom-select custom-select-sm form-control form-control-sm');
  $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
  $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
  $('#dtMaterialDesignExample_wrapper .dataTables_filte, #dt-material-checkbox_wrapper .dataTables_filterr').find(
    'label').remove();

</script>

</body>

</html>
