<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <title>Worka Nigeria</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <script>
            function calculate(balance, withdraw){
                        var balance = user.bankdet.balance;
                        var withdraw = user.bankdet.withdraw;
                        if ( balance >= 1000 && withdraw >= 5000 ){
                        var newBalance = balance - withdraw
                            var balance = newBalance;
                    } else
            {return error }
                }
    </script>

        <script>
            function deris (){
        const assigned = user.accountdet;
        const obtained = assigned[assigned.length - 1];
        var nextValue = obtained.balance;
        return nextValue;
        }
    </script>


    <!-- Favicon -->
    <link rel="icon" href="../../assets/img/brand/favicon.png" type="image/png">
    <!-- Page CSS -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../assets/libs/@fortawesome/fontawesome-free/css/all.min.css">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="../../assets/css/quick-website.css" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
     
    <!-- Customizer modal -->
    <div class="modal fade fixed-right" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-vertical" role="document">
          <div class="modal-content">
              <div class="modal-body">
                  <!-- Close button -->
                  <div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <!-- Modal content -->
                  <div class="px-4">
                      <!-- Avatar -->
                      <div class="d-flex my-4">
                          <div class="avatar-parent-child mx-auto">
                              <img alt="Image placeholder" src="../../assets/img/svg/icons/User_male.svg" class="avatar avatar-xl rounded-circle">
                              <span class="avatar-child avatar-badge bg-success"></span>
                          </div>
                      </div>
                      <div class="text-center mb-4">
                          <h6 class="h5 mb-0"><%= user.full_name %> </h6>
                          <span class="d-block text-muted"><%= user.email %> </span>
                      </div>
                      <!-- Profile stats -->
                      <div class="d-flex mb-5">
                          <div class="col-4 text-center">
                              <a href="#" class="h5 font-weight-bolder text-warning mb-0">0</a>
                              <span class="d-block text-sm">Payments</span>
                          </div>
                          <div class="col-4 text-center">
                              <a href="#" class="h5 font-weight-bolder text-warning mb-0">0</a>
                              <span class="d-block text-sm">Completed</span>
                          </div>
                          <div class="col-4 text-center">
                              <a href="#" class="h5 font-weight-bolder text-warning mb-0">Entrant</a>
                              <span class="d-block text-sm">Rating</span>
                          </div>
                      </div>
                      <!-- Performance chart -->
                      <div class="mb-5">
                          <div class="text-center mb-3">
                              <span class="d-block h6 mb-1">Status</span>
                              <a href="#" class="h6 text-muted text-sm">Worka Nigeria <b class="text-primary"> <%= user.role %> <b></a>
                          </div>
                         
                          <div class="mt-4 pt-4 border-top">
                              <div class="row align-items-center mb-3">
                                  <div class="col-auto">
                                  
                                  </div>
                                 
                                  
                              </div>
                              <div class="row align-items-center mb-3">
                                  
                                 
                                
                              </div>
                              <div class="row align-items-center mb-3">
                                 
                                 
                                  
                              </div>
                              <div class="row align-items-center">
                                 
                                
                              </div>
                          </div>
                      </div>
                      <div class="card shadow-none border-0 bg-section-secondary mt-8">
                         
                      </div>
                  </div>
              </div>


                <div class="modal-footer py-3 mt-auto">
                    <a href="/users/logout" class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
                        <span class="btn-inner--icon"><i data-feather="log-out"></i></span>
                        <span class="btn-inner--text">Sign out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Notifications modal -->
    <!-- Customizer modal -->


    <div class="modal fade fixed-right" id="modal-notifications" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-vertical" role="document">
            <div class="modal-content">
                <div class="modal-header py-3 align-items-center">
                    <div class="modal-title">
                        <h6 class="mb-0">Notifications</h6>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush">


                      <% include ./partials/messages %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                       Worka Nigeria uses cookies so that our App works for you. By using this App, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="../../pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <header class="" id="header-main">
        <!-- Navbar -->


        <nav class="navbar navbar-main navbar-expand-lg shadow navbar-light" id="navbar-main">
            <div class="container">
                <!-- Toggler -->
                <button class="navbar-toggler order-lg-2 ml-n3 ml-lg-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="navbar-brand order-lg-1" href="../../index.html">
                    <img style="border-radius: 30px;" alt="Image placeholder" src="/images/mine.png" id="navbar-logo">
                </a>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay order-lg-3" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <!-- Main navigation -->

                    <!-- Right navigation -->
                   
                    <!-- Right navigation -->
                        <!-- Right navigation -->
                        <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                         
                            <li class="nav-item dropdown dropdown-animate">
                                <a class="nav-link nav-link-icon px-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="settings"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow p-3">
                                    <h6 class="dropdown-header px-0 mb-2 text-primary">Welcome, <%= user.full_name %>!</h6>
                                    <a href="/dashboard" class="dropdown-item">
                                        <i data-feather="user"></i>
                                        <span>My profile</span>
                                    </a>
                                    <a href="/users/lpjs" class="dropdown-item">
                                        <i data-feather="credit-card"></i>
                                        <span>Task board</span>
                                    </a>
                                   
                                    <div class="dropdown-divider"></div>
                                    <a href="/users/settings" class="dropdown-item">
                                        <i data-feather="settings"></i>
                                        <span>Settings</span>
                                    </a>
                                    <a href="/users/logout" class="dropdown-item">
                                        <i data-feather="log-out"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown dropdown-animate">
                                <a class="nav-link nav-link-icon px-2" href="#modal-notifications" role="button" data-toggle="modal">
                                    <i data-feather="bell"></i>
                                </a>
                            </li>
                        </ul>
                      <div class="d-lg-none px-4 text-center">
                          <a href="/users/logout" class="btn btn-block btn-sm btn-warning" target="_blank">Logout</a>
                      </div>
                  </div>
                  <!-- Avatar menu -->
                  <div class="order-lg-4 ml-lg-3">
                      <a class="" href="#modal-profile" role="button" data-toggle="modal">
                          <span class="avatar rounded-circle">
                            <img alt="Image placeholder" src="../../assets/img/svg/icons/Yogamat.svg" >
  
                          </span>
                      </a>
                  </div>
              </div>
          </nav>
  
      </header>
  
    <!-- Omnisearch -->
    
    <!-- Main content -->
    <!-- Header -->
    <section class="pt-5 bg-section-secondary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Surtitle -->
                            <span class="surtitle">Your account</span>
                            <!-- Title -->
                            <h1 class="h2 mb-0">
                                Payment Centre
                            </h1>
                        </div>
                    </div>
                    <div class="row align-items-center mt-4">
                        <div class="col">
                            <ul class="nav nav-tabs overflow-x">
                                <li class="nav-item">
                                    <a href="/dashboard" class="nav-link">
                                        Dashboard
                                    </a>
                                </li>
                                
    
                                <li class="nav-item">
                                    <a href="/users/lpjs" class="nav-link">
                                        Task board
                                    </a>
                                </li>
    
                                <li class="nav-item">
                                    <a href="/users/payments" class="nav-link active">
                                        Payment Centre
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/users/notifications" class="nav-link">
                                        Notifications
                                    </a>
                                </li>
    
                                <li class="nav-item">
                                    <a href="/users/security" class="nav-link">
                                        Security
                                    </a>
                                </li>
    
                                <li class="nav-item">
                                    <a href="/users/settings" class="nav-link">
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="slice slice-sm bg-section-secondary">
        <div class="container">
            <div class="row justify-content-center">
               
                <div class="col-lg-9">

                        <div class="card card-fluid">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <!-- Avatar -->
                                        <a href="#" class="avatar rounded-circle">
                                            <img alt="Image placeholder" src="../../assets/img/svg/icons/Cash.svg">
                                        </a>
                                    </div>
                                    <div class="col ml-md-n2">
                                        <a href="#!" class="d-block h6 mb-0">Cash Withdrawals</a>
                                        <small class="d-block text-muted">Account Manager</small>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-xs btn-primary btn-icon rounded-pill">
                                            <span class="btn-inner--icon"><i data-feather="check-circle"></i></span>
                                          <a href="/users/searchlaw" class="text-white">  <span class="btn-inner--text">Keep this Page private</span></a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card-body">
                                <div class="row align-items-center">
                                   
                                    <% if (
                                             user.accountdet.length == 0
                                    ) { %>
                                        <div class="col-12">
                                            <form action="/subs/ext&plzrtptopqwtl" method="POST">
                                                <div style="display: none;">
                                                <div class="form-group">
                                                    <input type="Number" name="balance" style="border-radius: 30px; text-align: center;" class="form-control form-control-sm" id="balance" value="50">
                                                    <span class="d-block text-sm">Current Balance</span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="Number" name="withdraw" style="border-radius: 30px; text-align: center;" class="form-control form-control-sm" id="withdraw" value="0">
                                                    <span class="d-block text-sm">Withdraw</span>
                                                </div>
                                                    </div>
                                            <div class="text-center text-dark">
                                            <button type="submit" class="btn btn-danger btn-sm rounded-pill">
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                <span class="sr-only">Loading...</span>
                                                Activate Payment Account
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                <span class="sr-only">Loading...</span>
                                            </button>
                                            <br/>
                                          You must Click here to Activate your account and Enable Withdrawals
                                            </div>  
                                        </form>
                                        </div>                                         
                                        
                                        <%} else { %>
                                    <div class="col-lg-4 col-sm-6 text-center">
                                        <form action="/subs/suertytptopyf" method="POST">
                                        <div style="display: none;" class="form-group">
                                            <input type="Number" name="balance" text-align: center;" class="form-control form-control-sm" id="balance">
                                            <span class="d-block text-sm">Current Balance</span>
                                        </div>
                                        <div class="form-group pb-1">
                                                <div class="card-body text-center">
                                                    <div>
                                                        <div class="icon icon-shape icon-md bg-primary shadow-primary text-white">
                                                     <i class="fas fa-wallet"></i>
                                                        </div>
                                                    </div><!-- Title -->
                                                    <h6 class="h6 font-weight-bolder mb-0 pt-2">N<%= newValue %></h6>
                                                     <!-- Subtitle -->
                                                    <span class="d-block text-sm text-muted font-weight-bold">
                                                     Current Balance
                                                     <%= assigned %>
                                                         </span>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 text-center">
                                        <span class="h5 mb-0">1%</span>
                                        <span class="d-block text-sm">Withdrawal charge</span>
                                    </div>
                                    <div class="col-lg-4 text-center mt-2">
                                        <div class="form-group">
                                            <input type="Number" name="withdraw" style="border-radius: 30px; text-align: center;" class="form-control form-control-sm" id="withdraw" placeholder="Enter Amount">
                                            <span class="d-block text-sm">Enter Amount to Withdraw</span>
                                        </div>
                                    </div> 
                                    <% } %> 
                                </div>
                            </div>
                            <div class="card-footer py-2">
                                <div class="row align-items-center">
                                    <div class="col-6">
                                        <a href="/users/yds&xbqev&cmigl" type="button" class="btn btn-sm px-0 font-weight-bold btn-link text-primary btn-icon">
                                           Fill / Confirm Bank Account Details
                                           <small class="d-block text-muted">NOTE: Confirm your Bank Details are correct before proceeding.<br/>
                                        Also, ensure your Worka Nigeria Name is the same, or closely similar to your Bank account Name, otherwise your withdrawal will not be Processed.
                                        </small>
                                    </a>
                                    </div>
                                    <div class="col-6 text-right">
                                       

                                        <div class="icon icon-shape bg-primary text-secondary" style="border-radius: 30px;">
                                            <button type="button" class="btn btn-xs btn-warning btn-icon rounded-pill">
                                            <span class=" btn-icon rounded-pill btn-inner--text"> ₦20,000</span></button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                       

                            <div class="card-footer py-2">
                                <div class="row align-items-center justify-content-center">
                                    <% if (user.accountdet) { %>
                                    <div style="display: block;" id="victim" class="col-6 text-right">
                                        <button type="submit" class="btn btn-xs btn-secondary rounded-pill"> Proceed to Withdraw   &nbsp; &nbsp; <i data-feather="arrow-right-circle"></i> </button>
                                    </div>
                                    <%} else { %>
                                                  



                                        <% } %>
                                </div>
                            </div>
                        </form>
                        </div>
                        </div>
            </div>
            <div class="row justify-content-center">

                <div class="col-lg-9">
                    
                    
                    <div>
                        <!-- Title -->
                        <h5 class="mb-4">Payments history</h5>
                        <!-- Table -->
                        <div class="table-responsive">
                            <table class="table align-items-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <span class="client">Withdrawal</span>
                                        </th>
                                        <td class="order">
                                            <span class="date">10/09/2018</span>
                                        </td>
                                       
                                        <td>
                                            <span class="badge badge-danger">Unpaid</span>
                                        </td>
                                        <td>
                                            <div class="actions text-right ml-3">
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit">
                                                    <i data-feather="edit-2"></i>
                                                </a>
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                                                    <i data-feather="file-text"></i>
                                                </a>
                                                <div class="dropdown">
                                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#!" class="dropdown-item">
                                                            Action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Another action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Something else here
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <span class="client">Withdrawal</span>
                                        </th>
                                        <td class="order">
                                            <span class="date">10/09/2018</span>
                                        </td>
                                       
                                        <td>
                                            <span class="badge badge-primary">Delayed</span>
                                        </td>
                                        <td>
                                            <div class="actions text-right ml-3">
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit">
                                                    <i data-feather="edit-2"></i>
                                                </a>
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                                                    <i data-feather="file-text"></i>
                                                </a>
                                                <div class="dropdown">
                                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#!" class="dropdown-item">
                                                            Action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Another action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Something else here
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <span class="client">Withdrawal</span>
                                        </th>
                                        <td class="order">
                                            <span class="date">10/09/2018</span>
                                        </td>
                                      
                                        <td>
                                            <span class="badge badge-success">Completed</span>
                                        </td>
                                        <td>
                                            <div class="actions text-right ml-3">
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit">
                                                    <i data-feather="edit-2"></i>
                                                </a>
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                                                    <i data-feather="file-text"></i>
                                                </a>
                                                <div class="dropdown">
                                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#!" class="dropdown-item">
                                                            Action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Another action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Something else here
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <span class="client">Withdrawal</span>
                                        </th>
                                        <td class="order">
                                            <span class="date">10/09/2018</span>
                                        </td>
                                      
                                        <td>
                                            <span class="badge badge-success">Completed</span>
                                        </td>
                                        <td>
                                            <div class="actions text-right ml-3">
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Edit">
                                                    <i data-feather="edit-2"></i>
                                                </a>
                                                <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Invoice">
                                                    <i data-feather="file-text"></i>
                                                </a>
                                                <div class="dropdown">
                                                    <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a href="#!" class="dropdown-item">
                                                            Action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Another action
                                                        </a>
                                                        <a href="#!" class="dropdown-item">
                                                            Something else here
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                   



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Core JS  -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="../../assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Optional JS -->
    <script src="../../assets/libs/in-view/dist/in-view.min.js"></script>
    <script src="../../assets/libs/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="../../assets/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Page JS -->
    <script src="../../assets/libs/progressbar.js/dist/progressbar.min.js"></script>
    <!-- Quick JS -->
    <script src="../../assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>